.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 999;
}

#nav-bar {
  .dashboard-title {
    background-color: white;
    color: black;
  }
  .left-sidebar-boxshadow{
    box-shadow:0 16px 24px 2px rgba(0, 0, 0, 0.14),
     0 6px 30px 5px rgba(0, 0, 0, -1.88), 
     0 8px 10px -5px rgb(250, 250, 250);
  }
  .sidebar-menu{
    span{
      margin-left:25px;
    }
  }
  .user-email-name{
    margin:30px 0px 30px 50px;
  }
}
